.ant-typography a,
a.ant-typography,
.ant-btn-link span {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.ant-card,
.ant-btn,
.ant-input,
.ant-upload-list-item {
  border-radius: 0 !important;
}
